# Aerospike connection
AEROSPIKE_HOST=localhost
AEROSPIKE_PORT=3000
AEROSPIKE_USERNAME=
AEROSPIKE_PASSWORD=

# Client profile: old-client | new-client | new-client-answers
AEROSPIKE_CLIENT_PROFILE=old-client

# HTTP server
SERVER_PORT=8080
